<li>
	{{notes}}

	<button class="add-btn" data-id="{{id}}" data-note="{{note}}">
		{{#each note}}

        <div id="notes"></div>
        <h1>{{data.title}}</h1>
        
        {{/each}}
	</button>

</li>
